@charset "ISO-8859-1";

.cabecalho {
	height: 200px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 30px;
	font-size: 60px;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	margin: 60px 30px;
}

.formulario-texto {
	font-size: 27px;
}

.entrada {
	width: 40%;
	padding: 10px 20px;
	font-size: 22px;
	border-radius: 5px;
	border-style: solid;
	border-color: gray;
}
